<html>
    <body>
        <% var nombre = "franco" %> 
        <h1>soy <%= nombre %>  </h1>
        <h1>soy <%=  titulo %>   </h1>
        
        <%=  nombres %> 
        <% nombres.forEach(element => { %>
           <h2> <%= element %> </h2>
        <% }) %>
    </body>
</html>